<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather Forcast</title>
    <!--custom css-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="cover">
      <div class="content">
        <h3><%= des %></h3>
        <h5><%= city %></h5>
        <h1><%= t+"째C" %></h1>
      </div>
    </div>
    <div>
        <div>

            <table>
                <tr>
                  <th>Weather</th>
                </tr>
                <tr>
                  <td class="td">Today</td>
                  <td class="td"><%= t+"째C" %></td>
                </tr>
                <tr>
                  <td class="td">Tommorrow</td>
                  <td class="td"><%= (t+2) +"째C" %></td>
                </tr>
                <tr>
                  <td>Next Day</td>
                  <td><%= t-1 +"째C" %></td>
                </tr>
              </table>

        </div>
    </div>
  </div>
  <div class="searchbox">
    <form class="form" action="/" method="post">
      <label class="label" for="city">Enter Your City</label><br>
      <input type="text" name="query" required><br>
      <button class="btn btn-primary"type="submit">submit</button>
    </form>
  </div>
  <script src="time.js"></script>
</body>
</html>
